<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ location?.name }} </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/locations">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #F2C57C;">
  
    <!--<img [src]="location?.image_url"
         class="location-img" />-->
    
         <!--<ion-slides [options]="swiperOptions" class="ion-margin-top">
          <ion-slide *ngFor="let photo of location?.photos">
            <ion-card class="ion-card-details-img">
              <img src="{{photo}}">
            </ion-card>
          </ion-slide>
         </ion-slides>-->

         <app-swiper [slides]="slides">
            
         </app-swiper>
  
</ion-content>
