<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/locations">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #F2C57C;">
  
    <!--<img [src]="location?.image_url"
         class="location-img" />-->
    
         <!--<ion-slides [options]="swiperOptions" class="ion-margin-top">
          <ion-slide *ngFor="let photo of location?.photos">
            <ion-card class="ion-card-details-img">
              <img src="{{photo}}">
            </ion-card>
          </ion-slide>
         </ion-slides>-->

         <app-swiper [slides]="slides">
            
         </app-swiper>

         <ion-card>
          <ion-card-header>
            <ion-card-title>{{ location?.name }}</ion-card-title>
            <ion-card-subtitle>
              <div class="card_subtitle_div" *ngFor="let categorie of location?.categories"> &nbsp;&nbsp; {{ categorie?.title }} &nbsp;&nbsp; </div>
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
  
</ion-content>
