/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-card {
  //height: 30%;
  //width: 25%;
  //background-size: cover;
  //vertical-align: middle;
  text-align: center !important;
}

ion-card-subtitle {
  //color: #F2C57C;
}
.header::after {
  background-image: none;
}

.ion-text-center {
  text-align: center !important;
}

.card_title_div {
  text-align: center !important;
  font-size: 30px !important;
  font-family: 'Oxygen', sans-serif;
}

.card_subtitle_div {
  text-align: center !important;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
}

.card-title-div {
  font-size: 60px !important;
  color: #F2C57C;
  text-align: center !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  //display: flex;
  //justify-content: center;
  opacity: 1;
}

.card-descript-div {
  font-size: 20px !important;
  color: #F2C57C;
  text-align: center !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  //display: flex;
  //justify-content: center;
  opacity: 1;
}

ion-title.title-large {
  color: #ffffff;
  font-size: 40px;
  background: #f2ae04;
  //text-align: center;
}

ion-title {
  --color: #ffffff;
  font-size: 25px;
}

ion-toolbar {
  --background: #f2ae04;
  height: 50px;
}

.contentcolors {
  background-color: red;
}

.full-image {
  width: 100%;
  height: 50%;
}

.full-divsize {
  width: 100%;
  height: 100%;
}

.img-wrapper {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  font-family: 'Oxygen', sans-serif;
  word-spacing: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  //--color: #ffffff;
}

.container-inside {
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #fff;
  color: #F2C57C;
  font-size: 25px;
  position: absolute;
  text-align: center;
  //background-color: #000000;
  //backdrop-filter: blur(15px) saturate(300%);
}
.container-inside-whitebox {
  font-size: 25px;
  background-color: #F2C57C;
  position: absolute;
  text-align: center;
  opacity: .5;
}

ion-col {
  text-align: center;
}

ion-input {
  .text-input {
    text-align: center;
  }
}
